/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://huckberry.imgix.net/journal_post_content_block_images/000/009/937/images/original/vending-machine-22.jpg?auto=format%2C%20compress&crop=top&fit=clip&cs=tinysrgb&ixlib=react-9.8.1");
  background-size: cover;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;

}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

img {
  max-width: 300px;

}